<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pw-todo-form">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value="{{todoItemText::input}}">
    <button on-click="addHandler">+</button>
  </template>

  <script>
    /**
     * `pw-todo-form`
     * formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoForm extends Polymer.Element {
      static get is() { return 'pw-todo-form'; }
      static get properties() {
        return {
          todoItemText: {
            type: String,
            value: ''
          }
        };
      }

      addHandler(e){
        const addTodoItemEvent = new CustomEvent('pw-new-item', {
          bubbles: true,
          composed: true,
          detail: this.todoItemText
        });
        this.dispatchEvent(addTodoItemEvent);
      }
    }

    window.customElements.define(PwTodoForm.is, PwTodoForm);
  </script>
</dom-module>
